@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background: linear-gradient(45deg, rgb(1, 29, 1), rgb(65, 65, 1));
}
.title{
    text-align: center;
    color: #f4f4f4;
    padding-top: 10px;
    font-size: 2.5em;
}
.container{
    position: relative; /*to allow child elements to be absolutely positioned*/
    width: 200px;
    height: 200px;
    display: inline-block;
    
}
.image{
    display: block;
    width: 100%;
    height: 200px;
}
.column{
    text-align: center;
    margin-top: 30px;
}
.overlay{
    position: absolute;
    transition: all .4s ease;
    opacity: 0;
    background-color: #eee;
}
.container:hover .overlay{
    opacity: 1;
    background-image: url(img.jpg);
    background-size: cover;
    transition: all .6s ease;
}
.text{
    position: absolute;
    color: #fff;
    /*center align text*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.container img{
    filter: grayscale(0.7);
}

/*overlay classes*/
.overlayLeft{
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}
.overlay-right{
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
}
.overlay-top{
    width: 100%;
    height: 0;
    top: 0;
}
.overlay-bottom{
    width: 100%;
    height: 0;
    bottom: 0;
}
.overlay-cross{
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    
}
.overlay-fade{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*end of overlay classes*/

/*overlay hover classes*/
/*when user hovers over container, css changed to overlay*/
.container:hover .overlayLeft, 
.container:hover .overlay-right{
    width: 100%;
}

.container:hover .overlay-top,
.container:hover .overlay-bottom{
    height: 100%;
}
.container:hover .overlay-cross{
    width: 100%;
    height: 100%;
}

/*end of overlay hover classes*/

footer ul, li{
    color: #fff;
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: center;
}





@media only screen and (max-width: 500px) {
    .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}
    .container{
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    .image{
        width: 100%;
        height: auto;
        overflow: hidden;
    }





















